.taskBox{
  display: inline-block;
   border: solid 1px #ddd;
   width: 300px;
   height: 300px;
    background: midnightblue;
    float:left;
    margin: 30px;
    padding: 30px;
    /* color: red; */
  }

.dropdown, .select{
  margin: 10px;
  padding: 10px;
  display: inline-block;
}
.top{
margin: 10 auto;
}
#datepicker{
  width:180px;
 margin: 0 20px 20px 20px;
}
#datepicker > span:hover
{
  cursor: pointer;
}
#priority {
  width: 30%;
}

img{
  padding-right:3px;
   padding-top: 3px;
   display:block;
   width: 20px;
   height: 20px;
}
#datepicker{
  left:-35px;
}
#pr{
  right:-15px;
}
